.vs/Cobros/config/applicationhost.config
.vs/Cobros/DesignTimeBuild/.dtbcache.v2
.vs/Cobros/v16/.suo
.vs/Cobros/v16/TestStore/0/000.testlog
.vs/Cobros/v16/TestStore/0/testlog.manifest
.vs/Cobros/v16/TestStore/1/000.testlog
.vs/Cobros/v16/TestStore/1/testlog.manifest
Cobros.API/bin/Debug/netcoreapp2.2/appsettings.Development.json
Cobros.API/bin/Debug/netcoreapp2.2/appsettings.json
Cobros.API/bin/Debug/netcoreapp2.2/Cobros.API.deps.json
Cobros.API/bin/Debug/netcoreapp2.2/Cobros.API.dll
Cobros.API/bin/Debug/netcoreapp2.2/Cobros.API.pdb
Cobros.API/bin/Debug/netcoreapp2.2/Cobros.API.runtimeconfig.dev.json
Cobros.API/bin/Debug/netcoreapp2.2/Cobros.API.runtimeconfig.json
Cobros.API/bin/Debug/netcoreapp2.2/Cobros.Business.dll
Cobros.API/bin/Debug/netcoreapp2.2/Cobros.Business.pdb
Cobros.API/bin/Debug/netcoreapp2.2/Properties/launchSettings.json
Cobros.API/obj/Cobros.API.csproj.nuget.dgspec.json
Cobros.API/obj/Cobros.API.csproj.nuget.g.props
Cobros.API/obj/Cobros.API.csproj.nuget.g.targets
Cobros.API/obj/project.assets.json
Cobros.API/obj/project.nuget.cache
Cobros.API/obj/Debug/netcoreapp2.2/.NETCoreApp,Version=v2.2.AssemblyAttributes.cs
Cobros.API/obj/Debug/netcoreapp2.2/Cobros.API.AssemblyInfo.cs
Cobros.API/obj/Debug/netcoreapp2.2/Cobros.API.AssemblyInfoInputs.cache
Cobros.API/obj/Debug/netcoreapp2.2/Cobros.API.assets.cache
Cobros.API/obj/Debug/netcoreapp2.2/Cobros.API.csproj.CopyComplete
Cobros.API/obj/Debug/netcoreapp2.2/Cobros.API.csproj.CoreCompileInputs.cache
Cobros.API/obj/Debug/netcoreapp2.2/Cobros.API.csproj.FileListAbsolute.txt
Cobros.Business/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
Cobros.Business/obj/Debug/netstandard2.0/Cobros.Business.AssemblyInfo.cs
Cobros.Business/obj/Debug/netstandard2.0/Cobros.Business.AssemblyInfoInputs.cache
Cobros.Business/obj/Debug/netstandard2.0/Cobros.Business.assets.cache
Cobros.Business/obj/Debug/netstandard2.0/Cobros.Business.csproj.CoreCompileInputs.cache
Cobros.Business/obj/Debug/netstandard2.0/Cobros.Business.csproj.FileListAbsolute.txt
Cobros.Business/obj/Debug/netstandard2.0/Cobros.Business.csprojAssemblyReference.cache
Cobros.Business/obj/Debug/netstandard2.0/Cobros.Business.dll
Cobros.Business/obj/Debug/netstandard2.0/Cobros.Business.pdb
Test/Cobros.Controllers.Test/bin/Debug/netcoreapp2.2/Cobros.Business.dll
Test/Cobros.Controllers.Test/bin/Debug/netcoreapp2.2/Cobros.Business.pdb
Test/Cobros.Controllers.Test/bin/Debug/netcoreapp2.2/Cobros.Controllers.Test.deps.json
Test/Cobros.Controllers.Test/bin/Debug/netcoreapp2.2/Cobros.Controllers.Test.dll
Test/Cobros.Controllers.Test/bin/Debug/netcoreapp2.2/Cobros.Controllers.Test.pdb
Test/Cobros.Controllers.Test/bin/Debug/netcoreapp2.2/Cobros.Controllers.Test.runtimeconfig.dev.json
Test/Cobros.Controllers.Test/bin/Debug/netcoreapp2.2/Cobros.Controllers.Test.runtimeconfig.json
Test/Cobros.Controllers.Test/bin/Debug/netcoreapp2.2/nunit.engine.api.dll
Test/Cobros.Controllers.Test/bin/Debug/netcoreapp2.2/nunit.engine.core.dll
Test/Cobros.Controllers.Test/bin/Debug/netcoreapp2.2/nunit.engine.dll
Test/Cobros.Controllers.Test/bin/Debug/netcoreapp2.2/nunit_random_seed.tmp
Test/Cobros.Controllers.Test/bin/Debug/netcoreapp2.2/NUnit3.TestAdapter.dll
Test/Cobros.Controllers.Test/bin/Debug/netcoreapp2.2/NUnit3.TestAdapter.pdb
Test/Cobros.Controllers.Test/bin/Debug/netcoreapp2.2/testhost.dll
Test/Cobros.Controllers.Test/bin/Debug/netcoreapp2.2/testhost.exe
Test/Cobros.Controllers.Test/obj/Cobros.Controllers.Test.csproj.nuget.dgspec.json
Test/Cobros.Controllers.Test/obj/Cobros.Controllers.Test.csproj.nuget.g.props
Test/Cobros.Controllers.Test/obj/Cobros.Controllers.Test.csproj.nuget.g.targets
Test/Cobros.Controllers.Test/obj/project.assets.json
Test/Cobros.Controllers.Test/obj/project.nuget.cache
Test/Cobros.Controllers.Test/obj/Debug/netcoreapp2.2/.NETCoreApp,Version=v2.2.AssemblyAttributes.cs
Test/Cobros.Controllers.Test/obj/Debug/netcoreapp2.2/Cobros.Controllers.Test.AssemblyInfo.cs
Test/Cobros.Controllers.Test/obj/Debug/netcoreapp2.2/Cobros.Controllers.Test.AssemblyInfoInputs.cache
Test/Cobros.Controllers.Test/obj/Debug/netcoreapp2.2/Cobros.Controllers.Test.assets.cache
Test/Cobros.Controllers.Test/obj/Debug/netcoreapp2.2/Cobros.Controllers.Test.csproj.CopyComplete
Test/Cobros.Controllers.Test/obj/Debug/netcoreapp2.2/Cobros.Controllers.Test.csproj.CoreCompileInputs.cache
Test/Cobros.Controllers.Test/obj/Debug/netcoreapp2.2/Cobros.Controllers.Test.csproj.FileListAbsolute.txt
Test/Cobros.Controllers.Test/obj/Debug/netcoreapp2.2/Cobros.Controllers.Test.csprojAssemblyReference.cache
Test/Cobros.Controllers.Test/obj/Debug/netcoreapp2.2/Cobros.Controllers.Test.dll
Test/Cobros.Controllers.Test/obj/Debug/netcoreapp2.2/Cobros.Controllers.Test.genruntimeconfig.cache
Test/Cobros.Controllers.Test/obj/Debug/netcoreapp2.2/Cobros.Controllers.Test.pdb
Cobros.API/obj/Debug/netcoreapp2.2/Cobros.API.csprojAssemblyReference.cache
Cobros.API/obj/Debug/netcoreapp2.2/Cobros.API.dll
Cobros.API/obj/Debug/netcoreapp2.2/Cobros.API.genruntimeconfig.cache
Cobros.API/obj/Debug/netcoreapp2.2/Cobros.API.pdb
Cobros.API/obj/Debug/netcoreapp2.2/Cobros.API.RazorAssemblyInfo.cache
Cobros.API/obj/Debug/netcoreapp2.2/Cobros.API.RazorAssemblyInfo.cs
Cobros.API/obj/Debug/netcoreapp2.2/Cobros.API.RazorTargetAssemblyInfo.cache
Cobros.Business/bin/Debug/netstandard2.0/Cobros.Business.deps.json
Cobros.Business/bin/Debug/netstandard2.0/Cobros.Business.dll
Cobros.Business/bin/Debug/netstandard2.0/Cobros.Business.pdb
Cobros.Business/obj/Cobros.Business.csproj.nuget.dgspec.json
Cobros.Business/obj/Cobros.Business.csproj.nuget.g.props
Cobros.Business/obj/Cobros.Business.csproj.nuget.g.targets
Cobros.Business/obj/project.assets.json
Cobros.Business/obj/project.nuget.cache
